#menu {
height: 24px;
position: fixed;
background-color: #F7F7F7;
border-radius: 5px;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

#menu li {
list-style-type: none;
margin: 0 16px;
}

#menu a {
text-decoration: none;
color: #555;
font-weight: bold;
font-size: 16px;
padding: 10px;
border-radius: 5px;
transition: all 0.3s ease;
}

#menu a:hover {
background-color: #555;
color: #F7F7F7;
}

#a a {
background-color: #FFDAB9;
}

#b a {
background-color: #ADD8E6;
}

#c a {
background-color: #FFC0CB;
}

#d a {
background-color: #90EE90;
}

#e a {
background-color: #F0E68C;
}

#h a {
background-color: #f16464;
}

#f a {
background-color: #D3D3D3;
}

#g a {
background-color: #FFA07A;
}


/* Style for section titles */
h2 {
font-size: 28px;
font-weight: bold;
text-align: center;
margin-top: 40px;
margin-bottom: 20px;
text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
color: #333;
}

/* Style for section title underline */
h2::after {
content: '';
display: block;
height: 3px;
width: 60px;
margin: 20px auto 30px auto;
background-color: #27ae60;
}

p {
font-size: 18px;
line-height: 1.5;
/* margin-bottom: 20px; */
color: #333;
margin: auto;
text-align: center;
width: 800px;
}

#img1{
display: block;
margin-left: auto;
margin-right: auto;
width: 32%;

}

#img2{
margin-left: auto;
margin-right: auto;
display: flex;
}

#img3{
margin-left: auto;
margin-right: auto;
width: 28%;
height: 20rem;
display: flex;
border-radius: 10px;
}

iframe {
/* display:block; */
/* margin-left: auto; */
margin: auto;
border-radius: 10px;
width: 32rem;
height: 24rem;
text-align:center;
}

#contact-form {
max-width: 500px;
margin: 0 auto;
padding: 20px;
background-color: #f7f7f7;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#contact-form h2 {
text-align: center;
font-size: 24px;
margin-bottom: 20px;
}

#contact-form form {
display: flex;
flex-direction: column;
}

#contact-form .form-group {
display: flex;
flex-direction: column;
margin-bottom: 20px;
}

#contact-form label {
font-weight: bold;
margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea,
#contact-form select {
padding: 10px;
border-radius: 5px;
border: none;
background-color: #fff;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
font-size: 16px;
resize: none;
}

#contact-form input:focus,
#contact-form textarea:focus,
#contact-form select:focus {
outline: none;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#contact-form textarea {
height: 150px;
}

#contact-form button[type="submit"] {
padding: 10px;
border-radius: 5px;
border: none;
background-color: #4CAF50;
color: #fff;
font-size: 16px;
cursor: pointer;
transition: background-color 0.2s ease;
}

#contact-form button[type="submit"]:hover {
background-color: #3e8e41;
}

#contact-form select {
-webkit-appearance: none;
}

h4 {
text-align: center;
}

.center {
padding-left: 40px;
display: flex;
justify-content: center;
align-items: center;	
}